<!DOCTYPE html>
<html>
<head>
<title>Freeciv-web</title>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/webclient.min.css?ts=<%= props.buildVersion %>" />
<meta name="description" content="Freeciv-Web allows you to play Civ on the web for free. Single and multiplayer! Can you build an empire that stands the test of time?">
<% if(props.trackJsToken != null) { %>
<script type="text/javascript">window._trackJs = { token: '<%= props.trackJsToken %>' };</script>
<script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
<% } %>
<script type="text/javascript">
var ts="<%= props.buildVersion %>";
var fcwDebug=<%= props.fcwDebug %>;
</script>
<script type="text/javascript" src="/javascript/libs/jquery.min.js?ts=<%= props.buildVersion %>"></script>

<script src="https://apis.google.com/js/platform.js"></script>

<script type="text/javascript" src="/javascript/webclient.min.js?ts=<%= props.buildVersion %>"></script>

<script type="text/javascript" src="/music/audio.min.js"></script>

<c:if test="${not empty param.webgl_debug}" >
<% if(props.webglDebug) { %>
  <script> var gliEmbedDebug = true; </script> <script src="/javascript/webgl/libs/webgl-inspector/core/embed.js"></script>
<% } %>

<link rel="shortcut icon" href="/images/freeciv-shortcut-icon.png" />
<link rel="apple-touch-icon" href="/images/freeciv-splash2.png" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta name="google-signin-client_id" content="<%= props.googleSigninClientKey %>">
<link rel="manifest" href="/static/manifest.json">

<script>var captcha_site_key = '<%= props.captchaKey %>';</script>
<% if(props.captchaKey != '') { %>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
          async defer>
  </script>
<% } %>
</head>

<body>
    <%- include('pregame') %>
    <%- include('game') %>

</body>


</html>
