<br><br>
<footer>
       <p>
       &copy; <%= msg["license-date"] %> 2013-<script type="text/javascript">document.write(new Date().getFullYear());</script>. 
       <%= msg["license-open-source"] %> <%= msg["license-freeciv-c"] %> <a href="https://www.gnu.org/copyleft/gpl.html"> <%= msg["license-gpl"] %></a> <%= msg["license-freeciv-web"] %> <a href="http://www.gnu.org/licenses/agpl-3.0.html"><%= msg["license-agpl"] %></a> <%= msg["license-end"] %>.
	</p>
</footer>
